<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录页</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="b_fff">
    <div class="header">
        <ul>
            <li><a href="javascript:history.go(-1)" class="fl">
                <img class="img_back" src="./images/back.png">运营中心</a></li>
            <li><a style="font-weight: 900;">. . .</a></li>
        </ul>
    </div>
    <div class="main b_fff">
    <form action="login_ok.html" method="post">
        <div class="pt_50">
            <div class="border_b1 plr_15">
                <input type="text" class="input_div" placeholder="请输入业务编号">
            </div>
            <div class="border_b1 plr_15 mtb_15">
                <input type="text" class="input_div" placeholder="请输入登录密码">
            </div>
        </div>
        <div class="pt_50 ta_c plr_15">
            <button type="submit" class="button color_fff b_red1">立即登录</button>
        </div>
    </form>
    <div class="footer">
        <div class="footer_index">
            <p class="f_14 pb_15 color_999">全球采购运营中心问题请联系总部&nbsp;0592-8988998</p>
            <p class="f_12 color_999">微聚点（厦门）信息科技有限公司</p>
        </div>
    </div>

</div>
</body>
</html>