<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>全球采购商家登陆</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <ul>
        <li><a href="javascript:history.go(-1)" class="fl">
            <img class="img_back" src="./images/back.png">全球采购商家登陆</a></li>
        <li><a style="font-weight: 900;">. . .</a></li>
    </ul>
</div>
<div style="margin-top: 100px;">
    <form action="my_shop_detail.html" method="post">
    <div class="b_fff">
        <div class="ptrbl_15 border_b1">
            <label>登录账号</label>
            <input placeholder="请输入商家账号" class="label_input">
        </div>
        <div class="ptrbl_15">
            <label>登录密码</label>
            <input placeholder="请输入登录密码" class="label_input">
        </div>
    </div>
    <div class="plr_15 ta_c mt_30">
        <button type="submit" class="button b_red1 color_fff">立即登录</button>
        <a href="seller_open_account.html"><button type="button" class="button b_fff color_red mtb_15" style="border: 1px solid red;">免费开通</button></a>
    </div>
    <div class="ptrbl_15 color_999 f_12">忘记登录密码，请到商家版app上找回</div>
    </form>
</div>
</body>
</html>