<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的推广</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <ul>
        <li><a href="javascript:history.go(-1)" class="fl">
            <img class="img_back" src="./images/back.png">我的推广</a>
        </li>
        <li><a href="profit_detail.html">收益明细</a></li>
    </ul>
</div>
<div class="main b_fff">
    <div class="ptrbl_15 color_999 border_b10">
        <span>发展的商家</span>
        <span class="fr">2家</span>
    </div>
    <div>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>店铺名称</span>
                    <span class="color_red fr">未生效</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                    <span class="fr">有效期至2016-08-23</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>店铺名称</span>
                    <span class="color_green fr">已生效</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                    <span class="fr">有效期至2017-08-23</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>店铺名称</span>
                    <span class="color_red fr">已失效</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-02-23</span>
                    <span class="fr">有效期至2017-02-23</span>
                </p>
            </div>
        </a>
    </div>
</div>
</body>
</html>