<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的店铺信息</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <ul>
        <li><a href="javascript:history.go(-1)" class="fl">
            <img class="img_back" src="./images/back.png">我的店铺信息</a>
        </li>
    </ul>
</div>
<div class="main b_fff">
    <div class="ptrbl_15">
        <span class="hidden_nowrap" style="width:80%;">
            我的套餐：试用版<span class="color_999 pl_10 f_12">有效期至<span>2017-03-02</span></span>
        </span>
        <a href="renew_packages.html"><button class="fr button2 border_red color_red" style="width: 60px;margin-top: -28px;">续费</button></a>
    </div>
    <div class="ptrbl_15 b_f2">
        <span class="color_999">您申请的商户信息</span>
    </div>
    <div class="ptrbl_15 border_b1">
        <label>店铺账号</label>
        <span>563535</span>
    </div>
    <div class="ptrbl_15 border_b1">
        <label>初始密码</label>
        <span>563535</span>
        <span class="fr color_999 f_12 hidden_nowrap" style="width: 53%;margin-top: 3px;">请登录全球采购店铺管理后台修改</span>
    </div>
    <div class="ptrbl_15 border_b1">
        <label>店铺名称</label>
        <span>小蜜蜂日用品批发部</span>
    </div>
    <div class="ptrbl_15 border_b1">
        <label>行业类别</label>
        <span>生活用品》综合类</span>
    </div>
    <div class="ptrbl_15 border_b1">
        <label>手机号码</label>
        <span>188****9696</span>
    </div>
    <div class="ptrbl_15 b_f2">
        <span class="color_999">我的店铺：登录电脑后台可将店铺绑定到微信公众号</span>
    </div>
    <div class="ptrbl_15 mtb_10">
        <span class="hidden_nowrap color_blue" style="width: 55%">
            http://12345.qgja.com
        </span>
        <span class="fr" style="margin-top: -28px;">
            <a href="http://12345.qgja.com" target="_blank" class="button2 border_000 color_000 mr_10" style="padding: 6px 13px 6px 13px;">预览</a>
            <button class="button2 border_000 color_000 click_copy" style="width: 60px;">复制</button>
        </span>
    </div>
    <div class="ptrbl_15 b_f2">
        <span class="color_999">管理店铺：凭商家账号+密码即可登录</span>
    </div>
    <div class="mlr_15 mb_50">
        <div class="ptb_15 border_b1">
            <p class="color_999">登录方式1.</p>
            <p><span class="color_999">打开电脑浏览器》输入</span>&nbsp;<span class="color_blue">http://12345.qgja.com</span></p>
        </div>
        <div class="ptb_15 color_999">
            <div>
                <p>登录方式2.</p>
                <p>手机下载全球采购商家版</p>
            </div>
            <div class="fr" style="margin-top: -38px;"><button class="button2 border_no color_fff" style="background-color: red;">下载</button></div>

        </div>
    </div>
    <button class="footer border_no color_red f_16">退出登录</button>

</div>
<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/function_js.js"></script>
<script>
    $(function () {
        //点击复制按钮
        $('.click_copy').click(function () {
            // 获取复制内容
            var text=$(this).parent('span').prev('span').text();
            copy_text(text);
        })
        //点击退出登录按钮
        $('.footer').click(function () {
            layer.confirm('确认要退出登录吗？',function (index) {
                window.location.href="login_seller.html";
            })
        })
    })
</script>
</body>
</html>