<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>收益明细</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <ul>
        <li><a href="javascript:history.go(-1)" class="fl">
            <img class="img_back" src="./images/back.png">收益明细</a>
        </li>
        <li><a href="my_extension.html">我的推广</a></li>
    </ul>
</div>
<div class="main b_fff">
    <div class="ptrbl_15 color_999">
        <span>累计有效收益</span>
        <span class="fr">￥2000.09</span>
    </div>
    <div class="ptrbl_15 ta_c b_f2 color_999">2016-05</div>
    <div class="list">
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>5月收益</span>
                    <span class="color_999 fr">已打款</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                    <span class="fr color_red">￥200.09</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>专业版套餐推广收益</span>
                    <span class="color_green fr mt_15">+￥200.00</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>专业版套餐推广收益</span>
                    <span class="color_green fr mt_15">+￥200.00</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>专业版套餐推广收益</span>
                    <span class="color_green fr mt_15">+￥200.00</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>专业版套餐推广收益</span>
                    <span class="color_green fr mt_15">+￥200.00</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>专业版套餐推广收益</span>
                    <span class="color_green fr mt_15">+￥200.00</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                </p>
            </div>
        </a>
        <a>
            <div class="ptrbl_15 border_b1">
                <p>
                    <span>专业版套餐推广收益</span>
                    <span class="color_green fr mt_15">+￥200.00</span>
                </p>
                <p class="f_14 color_999 pt_10">
                    <span>开通时间2016-08-23</span>
                </p>
            </div>
        </a>
    </div>
    <!--<div class="more_list ta_c ptb_15 color_999">下拉加载更多</div>-->
</div>
<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
<script>
    //下拉加载更多
    $(function () {
        var range=50;
        $(window).scroll(function()
        {
            var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
            if(($(document).height()-range) <= totalheight ) {
                /*var date = $(".more_list").text();
                if (date == '下拉加载更多')
                {
                    more_list();
                }*/
                more_list();
            }

        });
    })
    function more_list() {
        //$(".more_list").text("加载中...");
        var html='<a>\
            <div class="ptrbl_15 border_b1">\
            <p>\
            <span>下拉加载出来的收益</span>\
            <span class="color_green fr mt_15">+￥500.00</span>\
        </p>\
        <p class="f_14 color_999 pt_10">\
            <span>开通时间2016-08-23</span>\
            </p>\
            </div>\
            </a>';
        $('.list').append(html);
    }
</script>
</body>
</html>