<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>套餐续费</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <ul>
        <li><a href="javascript:history.go(-1)" class="fl">
            <img class="img_back" src="./images/back.png">套餐续费</a>
        </li>
    </ul>
</div>
<div class="main">
    <form action="" method="post" class="b_fff plr_15">
        <div class="ptb_15">
            <div>
                <span>店铺名称</span>
                <span class="color_red border_red selected_package" style="padding: 3px 3px 4px 3px;
    border-radius: 20px;">创业版</span>
            </div>
            <div class="fr color_999 f_14" style="margin-top: -18px;">套餐到期时间 2017-03-03</div>
        </div>
        <div class="ta_c mt_30">
            <span class="img_35b_auto pr_10 mr_10"><img package="cy" class="select_package" src="images/创业版_ok.png"></span>
            <span class="img_35b_auto"><img package="qy" class="select_package" src="images/企业版_no.png"></span>
        </div>
        <div class="ta_c mt_30">
            <p class="color_red"><span class="selected_package">创业版</span>&nbsp;需充值￥<span class="selected_price">5800</span>元</p>
            <p class="color_999 pt_10 f_14">续费后套餐到期时间为 2016-03-03</p>
        </div>
        <div class="ta_c mt_30" style="padding-bottom: 50px;">
            <button class="button b_red1 color_fff">立即续费</button>
        </div>
    </form>
    <div class="ta_c color_999 f_14 mt_30 mb_50">
        <p style="margin-bottom: 10px;">套餐资费详情</p>
        <table class="table b_fff" cellspacing="0" cellpadding="0">
            <tr class="border_999 border_ccc ta_c">
                <td></td>
                <td>创业版</td>
                <td>企业版</td>
            </tr>
            <tr class="ta_c border_999 border_ccc">
                <td>单价/年</td>
                <td><span class="price_cy">5800</span>元</td>
                <td><span class="price_qy">8800</span>元</td>
            </tr>
            <tr class="ta_c border_999 border_ccc">
                <td>会员数量</td>
                <td>1000</td>
                <td>3600</td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script>
    $(function () {
        $('.select_package').click(function () {
            var ban_b=$(this).attr('package');
            var price=$('.price_'+ban_b).text();
            if(ban_b=='cy'){
                //选择创业
                var package='创业版';
                $(this).attr('src','images/创业版_ok.png');
                $(this).parent('span').next().find('img').attr('src','images/企业版_no.png');
            }
            else {
                var package='企业版';
                $(this).attr('src','images/企业版_ok.png');
                $(this).parent('span').prev().find('img').attr('src','images/创业版_no.png');
            }
            $('.selected_package').html(package);
            $('.selected_price').html(price);
        })
    })
</script>
</body>
</html>