<include file="Public:head"/>
<link type="text/css" rel="stylesheet" href="__ROOT__/Public/media/css/webuploader.css" />
<link type="text/css" rel="stylesheet" href="__ROOT__/Public/media/css/diyUpload.css" /><!--上传凭证图片-->
<style type="text/css">
	hr{margin:0; padding:0;}
	table tr:nth-child(1){  
		background:#eee;  
		font-size:0.75rem;
		font-weight:bold;
		color:#333;
	}
	td{
		padding:14px 10px;
		text-align:center;
		border:1px solid #DDD;
	}  
	/*上传图片*/ 
	body{position:relative;}
	.upImgLayer{position:fixed; top:0; left:0; z-index:999; width:100%; height:100%; background:rgba(0,0,0,0.6); text-align:center; display:none; }
	.uploadContent{background:#FFF; margin-top:10%; width:400px; display:inline-block;}
	.uploadContent h4{background:#e8e8e8; line-height:40px; text-align:left; padding:0 15px; margin:0; font-weight:600; font-size:14px; letter-spacing:1px;}
	.layerBtnBox a{display:inline-block; width:50%; float:left; line-height:45px; text-align:center; box-sizing:border-box; border-top:1px solid #ddd; font-size:14px; text-decoration:none;}
	.check_up{border-left:1px solid #ddd; background:#4D90FE; color:#FFF;}
	.img_upBox{height:250px; text-align:center; padding:10px 15px; position:relative; background:url('__ROOT__/Public/media/image/image_bg.png')center center no-repeat; background-size:100px;}
	#upload_btn:after{content:'可将图片直接拖入此区域'; color:#ddd; vertical-align:50%; margin-left:5px;}
	.is_getted{position:relative; }
	.tri_top{position:absolute; top:15px; right:5px; z-index:555; width:0; height:0; border-left:8px solid transparent; border-right:8px solid transparent; border-bottom:10px solid #ddd; display:none;}
	.gettedShow{position:absolute; top:25px; right:-100px; z-index:555; width:370px; border:1px solid #ddd; box-shadow:1px 1px 2px #000; border-radius:2px; background:#fff;  padding:10px; display:none;}
	.gettedShow img{width:100%; height:180px;}
</style>
<div class="container-fluid">  
   
	<!-- BEGIN PAGE CONTENT-->          
	<div class="row-fluid"  >
		<table style="border:1px solid #ddd; width:100%" border="1px">
			<tr>
				<td colspan="7" style="text-align:left">运营商名称：{$shareholder_info.operate_name}</td>
			</tr>   
			<tr>       
			    <td>股东名称</td>
			    <td >手机号</td>
				<td>开户银行</td>
				<td>收款名称</td>  
				<td>卡号</td>
				<td>总计分红</td>
				<td>实际已分红</td>
			</tr>   
			<tr>
				<td>{$shareholder_info.shareholder_name}</td>
			    <td>{$shareholder_info.shareholder_tel}</td>
				<td>{$shareholder_info.bank_name}</td>
				<td>{$shareholder_info.bank_username}</td>  
				<td>{$shareholder_info.bank_sn}</td>
				<td>{$shareholder_info.all_price}</td>
				<td>{$shareholder_info.get_price}</td>
			</tr>
		</table>
		<br/>
		<table style="border:1px solid #ddd; width:100%" border="1px">
			<tr>     
			    <td>月份</td>
			    <td >利润应分红</td>
				<td>款项状态</td>
				<td>操作</td>  
			</tr>   
			<volist name ="lists" id ="list">
			<tr>
				<td style="text-align:center">{$list.month}</td>   
				<td style="text-align:center">{$list.value}</td>   
				<td><if condition="$list.is_get eq 0">未打款<else/>{$list.get_time|date="Y-m-d H:i",###} 已打款 </if></td>  
				<td><a href="{:U('Shareholder/holder_day_price_record',array('id'=>$list['id']))}">查看</a>&nbsp;        
				
				<if condition="$list.is_get eq 0">
					<?php if(($list['month'] != date('Y-m')) && ($list['operate_get'] == 1)){ ?>
						<a href="javascript:img_get({$list['id']});" >确认分红</a>
					<?php } ?>   
				<else/>         
					<a href="javascript:;" class="is_getted if_showimg" title="显示已打款凭证">已分红 
						<span class="tri_top"></span>
						<div class="gettedShow" ><img src="{$list.payment_img}" title="已分红凭证" /></div>
					</a>
				</if>
				</td>	
				</tr>                   
			</volist>
		</table>
		
		<!-- BEGIN PAGE CONTENT-->
		
	</div>
</div></div>  
<!--确认分红-上传图片-->
<div class="upImgLayer" id="upImgLayer">
	<div class="uploadContent">
		<h4>上传该月分红的凭证</h4>
		<div class="img_upBox" id="img_upBox">
			<div class="" id="upload_btn"></div>
		</div>
		<div class="layerBtnBox">
			<a href="javascript:closeUploader();" class="cancel_up uploadBtn" >取消</a>
			<a href="javascript:confirm_get();" class="check_up uploadBtn" >确定</a>						
		</div>
	</div>
</div>
<!--end-->
<script type="text/javascript" src="__ROOT__/Public/media/js/webuploader.html5only.min.js"> </script>
<script type="text/javascript" src="__ROOT__/Public/media/js/diyUpload.js"> </script><!--主图--> 
<script>
	function img_get(id){
		$("#upImgLayer").show();
		ID = id; 

		/*上传图片*/
		$("#upload_btn").diyUpload({
			url:'./admin.php/Home/Shareholder/upload_img',
			success:function( data ) {
				IMG_URL = data['url'];
				console.info( data['url'] );      
			}, 
			error:function( err ) { 
				console.info( err );	
			},
			buttonText : '选择凭证截图',
			chunked:false,  // 分片大小  
			chunkSize:100 * 1024 * 1024, //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
			fileNumLimit:1,
			fileSizeLimit:5000*1024 * 1024, 
			fileSingleSizeLimit:100 * 1024 * 1024,
			accept: {},
			dnd:'#img_upBox'
		});
		$("#upload_btn").on('click',function (){
			$("#img_upBox").find(".fileBoxUl li,.diyButton").remove();
		});
	}

	function confirm_get(){  
		if(typeof(IMG_URL) == 'undefined' || IMG_URL== ''){
			alert('凭证必须先上传（选择凭证图片后，点击图片下方上传按钮）');
			return false;
		} 
		var url= "{:U('Shareholder/ajax_holder_confirm_get')}";  
		$.ajax({    
			type: "POST",
			url: url,      
			data: {id:ID,img_url:IMG_URL},   
			dataType: "json",
			success: function(data){
				if(data.result == 1){
					 window.location.reload();
				}else{     
					alert(data.desc);
					window.location.reload();
				}      
				  
			}	      
		}); 
	}
	
	function closeUploader(){
		$("#upImgLayer").hide();
		$("#img_upBox").find(".fileBoxUl li,.diyButton").remove();
		ID = '';
		IMG_URL = '';
	}
	$(".if_showimg").each(function (){
		var This = $(this);
		This.hover(function (){
			This.children("span,div").show();
		},function (){
			This.children("span,div").hide();
		});
	});
</script>
<include file="Public:foot" />